
*{
  cursor:url("/img/cur.png"), pointer;
}

body{
  font:Arial, Helvetica;
  text-transform: uppercase;
  line-height: 1.6em;
  color:black;
  height:100%;
  width: 100%;
  margin-top:50px;
  cursor: url("/img/cur.png"),
}

.gg a{
  text-decoration: none;
  font: 110px helvetica;
  font-weight: lighter;
  margin-top: 20px;
  margin-left: 20%;
  position:fixed;
  color: black;
  cursor:url("/img/cur.png"), pointer;
  z-index: 100;
}
.gg a:hover{
  color:#003399;}

  li{
    list-style:decimal;
    margin-top: 10px;
  }

  lu{
    margin-top: 10px;
    font: Arial, Helvetica;
  }

  .listtop{
    color:black;
    font: 16px Arial, Helvetica, sans-serif bold;
    float:left;
    margin-top: 70px;
  }

.chelsea-region{
  display: block;
  color:black;
  width: 100%;
  padding-bottom: 20px;
  text-align: justify;
  margin-top: 150px;
  font-family: arial, helvetica, sans-serif;
}
.chelsea-region a{
  text-decoration: none;
  color:#003399;
  padding-bottom: 20px;
  text-align: justify;
  font-family: arial, helvetica, sans-serif;
}
.chelsea-region a:hover {
    color: blue;
    padding-top: 50%;


}
.les-region a:hover{
  color: pink;
}

.brooklyn-region a:hover{
  color:green;

}

.soho-region a:hover {
  color:yellow;

}
