
*{
  cursor:url("/img/cur.png"), pointer;
}

body{
  font:Arial, Helvetica;
  text-transform: uppercase;
  line-height: 1.6em;
  color:black;
  height:100%;
  width: 100%;
  cursor: url("/img/cur.png"),
}

img{
  margin-top: 80px;
  cursor:url("/img/cur.png"), pointer;
  width:60%;
  display: inline-block;
  vertical-align: top;

}
.gg a{
  text-decoration: none;
  font: 110px helvetica;
  font-weight: lighter;
  margin-top: 20px;
  margin-left: 0%;
  color: black;
  cursor:url("/img/cur.png"), pointer;
  z-index: 100;
  width:100%;
  text-align: right;
}
.gg a:hover{
  color:blue;
}
.c-area a{
    text-transform: uppercase;

    float:right;
    text-decoration: none;
    font: 110px helvetica;
    font-weight: lighter;
    margin-top: 200px;
    margin-right:30%;
    color: black;
    cursor:url("/img/cur.png"), pointer;
    z-index: 2;
  }

.c-area a:hover{

  color:blue;

}

.s-area a{
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    font: 110px helvetica;
    font-weight: lighter;
    margin-top: 550px;
    margin-left: 77.5%;
    color: black;
    cursor:url("/img/cur.png"), pointer;
    z-index: 3;

  }
  li{
    list-style:decimal;
  }

  lu{
    margin-top: 70px;
    font: Arial, Helvetica;
  }

  .listtop{
    color:black;
    font: 16px Arial, Helvetica, sans-serif bold;
    float:left;
    margin-top: 70px;
  }

.chelsea-region{
  display: block;
  color:black;
  width: 100%;
  padding-bottom: 20px;
  text-align: justify;
  margin-top: 150px;
  font-family: arial, helvetica, sans-serif;
  display: inline-block;
width: 35%;
vertical-align: top;
}
.chelsea-region a{
  text-decoration: none;
  color:#003399;
  padding-bottom: 20px;
  text-align: justify;
  font-family: arial, helvetica, sans-serif;
}
.chelsea-region a:hover {
    color: blue;
    padding-top: 50%;


}
.les-region a:hover{
  color: pink;
}

.brooklyn-region a:hover{
  color:green;

}

.soho-region a:hover {
  color:yellow;

}
